
AdT/input/
*.Rproj
AdT/Code/.Rproj.user/shared/notebooks/patch-chunk-names
AdT/Code/.Rproj.user/1A34ABA8/sources/s-8BD484F8/lock_file
AdT/Code/.Rproj.user/1A34ABA8/sources/s-8BD484F8/6C38BA17
AdT/Code/.Rproj.user/1A34ABA8/sources/s-8BD484F8/6C38BA17-contents
AdT/Code/.Rproj.user/
AdT/Code/.Rhistory
AdT/Code/.RData
.Rproj.user
*.RData
