AdT/input/
*.Rproj
AdT/Code/.Rproj.user/shared/notebooks/patch-chunk-names
AdT/Code/.Rproj.user/1A34ABA8/sources/s-8BD484F8/lock_file
AdT/Code/.Rproj.user/1A34ABA8/sources/s-8BD484F8/6C38BA17
AdT/Code/.Rproj.user/1A34ABA8/sources/s-8BD484F8/6C38BA17-contents
AdT/Code/.Rproj.user/
AdT/Code/.Rhistory
AdT/Code/.RData
.Rproj.user
*.RData
AdT/Code/.ipynb_checkpoints/py_sample_test-checkpoint.ipynb
AdT/SubM/
AdT/Code/*.RDS
Avito/input/
Avito/Avito_Code/.Rhistory
Avito/Avito_Code/.RDataTmp  
Avito/SubM/  
TackML/SubM/  

TackML/TrackML_Code/.RDataTmp
  
TackML/TrackML_Code/.Rhistory
Avito/Avito_Code/.RDataTmp1
